#include "resource.h"

IDD_DIALOG_KEYS DIALOG 0, 0, 150, 80
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Dialog Keys"
BEGIN
    EDITTEXT IDC_EDIT_A, 8, 8, 120, 14, WS_BORDER | WS_TABSTOP
    EDITTEXT IDC_EDIT_B, 8, 28, 120, 14, WS_BORDER | WS_TABSTOP
    PUSHBUTTON "OK", IDC_BUTTON_OK, 45, 52, 50, 14, WS_TABSTOP
END
