#include "resource.h"
#include <windows.h>

IDD_RADIO_DIALOG DIALOG 0, 0, 150, 90
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Radio Check"
BEGIN
    CHECKBOX "Check", IDC_CHECK_A, 8, 8, 80, 12, WS_TABSTOP
    RADIOBUTTON "A", IDC_RADIO_A, 8, 26, 80, 12, WS_TABSTOP
    RADIOBUTTON "B", IDC_RADIO_B, 8, 42, 80, 12, WS_TABSTOP
    PUSHBUTTON "Done", IDC_DONE, 45, 62, 50, 14
END
