#include "resource.h"
#include <windows.h>

IDD_MODELESS_DIALOG DIALOG 0, 0, 130, 70
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Modeless"
BEGIN
    EDITTEXT IDC_MODELESS_EDIT, 8, 8, 110, 14, WS_BORDER | WS_TABSTOP
    PUSHBUTTON "Done", IDC_MODELESS_BUTTON, 35, 36, 60, 14, WS_TABSTOP
END
